<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357512032544-qnkqgne9h4na232go8gl95d3lkg0qpsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357512032544-qnkqgne9h4na232go8gl95d3lkg0qpsv</string>
	<key>API_KEY</key>
	<string>AIzaSyAt7dgcm9Lv-45OcoSze8jXx3JQiOwpLQE</string>
	<key>GCM_SENDER_ID</key>
	<string>357512032544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kidXplorer.Quiz-Monster</string>
	<key>PROJECT_ID</key>
	<string>quiz-monster-f8047</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-monster-f8047.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357512032544:ios:41059ac5d8e0ffa1e1e745</string>
</dict>
</plist>